.flex.flex-col.justify-center.py-12.sm:px-6.lg:px-8
  .sm:mx-auto.sm:w-full.sm:max-w-lg
    %h2.mt-6.text-center.text-3xl.font-extrabold.text-gray-900
      Welcome to Hotwired ATS
  .mt-8.sm:mx-auto.sm:w-full.sm:max-w-lg
    .bg-white.py-8.px-4.shadow.sm:rounded-lg.sm:px-10
      = form_with(model: @user, url: invites_path, method: :post, html: { class: "space-y-6" }) do |form|
        = form.hidden_field :token, value: params[:token]
        .form-group
          = form.label :first_name
          .mt-1
            = form.text_field :first_name, autofocus: true
        .form-group
          = form.label :last_name
          .mt-1
            = form.text_field :last_name, autofocus: true
        .form-group
          = form.label :password
          .mt-1
            = form.password_field :password, autocomplete: "current-password"
        %div
          = form.button 'Accept invite', class: "btn-primary w-full", data: { disable_with: 'Submitting' }
