= turbo_frame_tag dom_id(user) do
  = form_with model: user do |form|
    .flex.flex-col.md:flex-row.items-center.px-4.py-4.sm:px-6.justify-between.items-baseline
      %div
        = form.text_field :name
      %div
        = form.text_field :email
      .text-right
        = form.submit 'Save', class: 'btn-primary'
